<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="PetriNets.PetriNetsPackage" genModel="model/PetriNets.genmodel" uri="platform:/plugin/PetriNets/model/PetriNets.ecore"/>
  </extension>
</plugin>
